#cardsWrapper {
  max-width: 100%;
}

.headerBlock {
  display: flex;
  justify-content: space-between;
}

.cardBlock {
  padding: 20px 40px 20px 100px;
  background-color: black;
}

.cardAuthor,
.cardEmail,
.cardTitle,
.cardBody {
  color: #fff;
}

.cardAuthor {
  font-size: 18px;
}

.cardEmail {
  opacity: 0.7;
}

.cardTitle {
  opacity: 0.7;
}

.cardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cardEmail {
  margin-left: 30px;
}

.cardBody {
  margin-top: 10px;
}

.btn-close {
  background-color: #fff;
}
